.pagination {
  display: flex;
  direction: ltr;
  font-size: 1.5rem;
}

.pagination button {
  all: inherit;
  padding: 8px 16px;
  transition: background-color 0.3s;
  border: 3px solid rgb(29, 94, 29);
  margin: 0 0;
}

.pagination span {
  all: inherit;
  padding: 8px 16px;
  transition: background-color 0.3s;
  border: 3px solid rgb(29, 94, 29);
  margin: 0 0;
}

.pagination button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination button:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.pagination button.active {
  background-color: #4caf50;
  font-size: 1.7rem;
  border: 3px solid #4caf50;
}
