.box-comment {
  border: 2px solid rgb(120, 120, 120);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px 0;
}

.box-comment-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.box-comment-info > img {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  border-radius: 50%;
}

.box-comment > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-comment > form > textarea {
  background-color: rgb(43, 42, 42);
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.box-comment > form > button {
  width: fit-content !important;
  padding: 5px 20px;
  border-radius: unset;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
