.dropdown {
  width: 300px;
  top: 50px;
  left: 0;
  padding: 10px;
  background-color: rgba(47, 46, 59, 0.719);
  border-radius: 10px;
}

.dropdown li {
  list-style: none;
  margin-block: 5px;
  padding: 5px 10px;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}

.dropdown li:hover {
  background-color: rgb(0, 81, 128);
}

.dropdown li a {
  text-decoration: none;
}
.dropdown li a svg {
  margin-left: 10px;
}

.exit {
  margin-block: 10px;
  width: 100%;
}
