.single-film-dl ul > li {
  list-style: none;
}
.box-dl {
  border: 2px solid rgb(120, 120, 120);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 20px 0;
  justify-content: space-between;
}
